In [1]:
# general process outline

# take dataset files
# read top x number of rows into pandas dataframe (according to percentage_breakdowns_v2.xlsx)
# save new dataframe with only first_name, last_name, fraction_total
# rename fraction_total column -> [dataset]_total
# add empty columns for other dataset totals

#combine dataset files
## if first_name and last_name match, find average of fraction_total

In [101]:
import pandas
import numpy

In [102]:
# CHUNK: LOADING DATA

In [103]:
# EEBO

eebo_df = pandas.read_csv('../eebo/eebo_dataset_final.csv', nrows=40)
# eebo_df

In [104]:
eebo_df2 = eebo_df.loc[:, ['first_name', 'last_name', 'title', 'fraction_total']]
# eebo_df2

In [105]:
# ESTC

estc_df = pandas.read_csv('../estc/estc_dataset_final.csv', nrows=159)
# estc_df

In [107]:
estc_df2 = estc_df.loc[:, ['first_name', 'last_name', 'title', 'fraction_total']]
# estc_df2

In [108]:
# OPEN SYLLABUS

open_syllabus_df = pandas.read_csv('../open-syllabus/english-lit/open-syllabus_dataset_final.csv', nrows=250)
# open_syllabus_df

In [110]:
open_syllabus_df2 = open_syllabus_df.loc[:, ['first_name', 'last_name', 'title', 'fraction_total']]
# open_syllabus_df2

In [111]:
# OTA

ota_df = pandas.read_csv('../ota/ota_dataset_final.csv', nrows=31)
# ota_df

In [113]:
ota_df2 = ota_df.loc[:, ['first_name', 'last_name', 'title', 'fraction_total']]
# ota_df2

In [114]:
# PROJECT GUTENBERG

project_gutenberg_df = pandas.read_csv('../project-gutenberg-2/project-gutenberg_dataset_final.csv', nrows=1057)
# project_gutenberg_df

In [116]:
project_gutenberg_df2 = project_gutenberg_df.loc[:, ['first_name', 'last_name', 'title', 'fraction_total']]
# project_gutenberg_df2

In [ ]:
# CHUNK: PROCESSING LOADED DATA

In [125]:
merged_df = pandas.concat((eebo_df2, estc_df2, open_syllabus_df2, ota_df2, project_gutenberg_df2))
merged_df
#  merged_df.groupby(merged_df.index).mean()

C:\Users\Jasmine\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,first_name,fraction_total,last_name,title
0,Anonymous,0.291590,NaN,NaN
1,Parliament,0.011711,England and Wales,NaN
2,Charles I,0.010643,Sovereign,NaN
3,England and Wales,0.009838,NaN,NaN
4,Church of England,0.009440,NaN,NaN
5,Charles II,0.007148,Sovereign,NaN
6,Privy Council,0.005735,Scotland,NaN
7,James I,0.004919,Sovereign,NaN
8,Elizabeth I,0.004490,Sovereign,NaN
9,Thomas,0.004218,Sternhold,NaN
10,Parliament House of Commons,0.002951,England and Wales,NaN
11,Richard,0.002826,Baxter,NaN
12,George,0.002627,Fox,NaN
13,Gilbert,0.002240,Burnet,NaN
14,John,0.001999,Dryden,NaN
15,John,0.001968,Taylor,NaN
16,Joseph,0.001957,Hall,NaN
17,William,0.001947,Penn,NaN
18,William,0.001947,Perkins,NaN
19,William and Mary,0.001894,Sovereign,NaN
20,William,0.001727,Prynne,NaN
21,James II,0.001695,Sovereign,NaN
22,Roger,0.001685,L'Estrange,NaN
23,Henry,0.001591,Smith,NaN
24,Simon,0.001580,Patrick,NaN
25,Richard,0.001486,Allestree,NaN
26,Jeremy,0.001476,Taylor,NaN
27,Francis,0.001287,Bacon,NaN
28,Gervase,0.001277,Markham,NaN
29,England,0.001245,NaN,NaN
...,...,...,...,...
1027,Robert,0.000149,Grant,NaN
1028,Robert,0.000149,Walser,NaN
1029,Robert J.,0.000149,Nemiroff,NaN
1030,Robert Moore,0.000149,Williams,NaN
1031,Robert W. (Robert William),0.000149,Service,NaN
1032,Rog,0.000149,Phillips,NaN
1033,Rollin H. (Rollin Harold),0.000149,Baker,NaN
1034,Rupert Sargent,0.000149,Holland,NaN
1035,Selma,0.000149,Anttila,NaN
1036,Stephen Lucius,0.000149,Gwynn,NaN
1037,Temple,0.000149,Bailey,NaN
1038,Thomas,0.000149,Malory,NaN
1039,Thomas,0.000149,Hughes,NaN
1040,Thomas,0.000149,Mann,NaN
1041,Thomas,0.000149,Hoover,NaN
1042,W. E. B. (William Edward Burghardt),0.000149,Du Bois,NaN
1043,W. S. (William Schwenck),0.000149,Gilbert,NaN
1044,Waldemar,0.000149,Bonsels,NaN
1045,William,0.000149,Godwin,NaN
1046,William Hale,0.000149,White,NaN
1047,William Henry,0.000149,Holmes,NaN
1048,William Pitt,0.000149,Scargill,NaN
1049,William T. (William Tecumseh),0.000149,Sherman,NaN
1050,Woodrow,0.000149,Wilson,NaN
1051,Xiang,0.000149,Liu,NaN
1052,Xun,0.000149,Lu,NaN
1053,NaN,0.000149,Ovid,NaN
1054,NaN,0.000149,Jean Paul,NaN
1055,NaN,0.000149,Saki,NaN
1056,NaN,0.000149,Horace,NaN